* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: “Arial”, “Microsoft YaHei”, “黑体”, “宋体”, sans-serif;
}

body {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #f6f6f6; */
    background: linear-gradient(157.04deg, rgba(192, 232, 250, 1) 0%, rgba(161, 196, 253, 1) 100%), rgba(246, 246, 246, 1);
}

.todoList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
}

.todoList>h2 {
    font-size: 4em;
    letter-spacing: .15em;
    color: rgba(19, 92, 224, 1);
}

.todoList>input {
    display: block;
    width: 400px;
    height: 40px;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 20px;
    color: #000;
    font-size: 18px;
    text-align: center;
    border: none;
    outline: none;
    letter-spacing: .05em;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .6);
    transition: all .1s;
}

.todoList>input:focus,
.todoList>input:hover {
    border: 2px solid transparent;
    border-color: rgba(234, 76, 137, 0.4);
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.events {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    margin-top: 20px;
    align-items: center;
    /* background-color: pink; */
    justify-content: center;
}

.events>div {
    align-self: flex-start;
    width: 45%;
    /* width: 80%; */
    height: auto;
}

.events>div h3 {
    font-size: 24px;
    color: rgba(19, 92, 224, 1);
}

.events .items {
    width: 90%;
    min-height: 50px;
    border: 1px solid transparent;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 0 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    display: flex;
    flex-direction: column;
}

.items div {
    display: flex;
    align-items: center;
    width: 90%;
    height: 48px;
    margin: 0 auto;
    /* background-color: cadetblue; */
    margin-bottom: 15px;
    position: relative;
    transition: all .3s;
}

.items div:hover {
    transform: scale(1.05);
}

.items div button {
    display: inline-block;
    position: absolute;
    left: 3%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
}

.items div button:hover {
    cursor: pointer;
}

.items div p {
    display: inline-block;
    width: 100%;
    line-height: 48px;
    padding-left: calc(4% + 30px);
    border-radius: 24px;
    background-color: #fff;
    /* 单行溢出省略 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.items .study p {
    background-color: #b5f291;
    box-shadow: 0px 2px 4px #a1d781;
}

.items .life p {
    background-color: #FEF9D7;
    box-shadow: 0px 2px 4px #e2dec0;
}

.items .work p {
    background-color: #d1eeff;
    box-shadow: 0px 2px 4px #b9d3e2;
}

.items .study::after {
    content: "📚";
    /* font-size: 20px; */
    position: absolute;
    right: 4%;
}

.items .life::after {
    content: "🏠";
    position: absolute;
    right: 4%;
}

.items .work::after {
    content: "📄";
    position: absolute;
    right: 4%;
}

.items .finish {
    text-decoration: line-through;
    color: #9c9c9c;
    order: 100;
}

.items .finish::after {
    content: "";
}

.items .finish p {
    background-color: #dbdbdb;
    box-shadow: 0 2px 4px #dbdbdb;
}

.items .finish button {
    background-color: #c3cfe2;
}

/* 遮罩层 */
.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
}

.mask .addAlert {
    background-color: #fff;
    width: 32%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mask .addAlert h3 {
    color: #135ce0;
    font-weight: 400;
    font-size: 24px;
    padding: 15px 0 20px 15px;
}

#creatEve {
    width: 80%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    /* display: block; */
    align-self: center;
    background: rgba(217, 232, 216, 1);
    outline: none;
    border: none;
    border-radius: 8px;
    text-indent: 1em;
    box-shadow: 0px 0px 5px 0px rgba(193, 217, 191, 1), 0px 0px 0px 10px rgba(245, 245, 245, 1);
}

.addAlert .inputBox {
    margin-top: 1.5em;
    padding-left: 1.5em;
    width: 100%;
}

.addAlert .inputBox label {
    margin-left: 1.5em;
}

#inputDate {
    margin-left: 1.5em;
    font-size: 16px;
}

.addAlert button {
    width: 28%;
    align-self: center;
    border: none;
    margin: 1em 0;
    padding: .2em 0;
    border-radius: 1em;
    font-size: 18px;
    background-color: #fff;
    color: rgba(19, 92, 224, 1);
    box-shadow: 0px 3px 7px 3px rgb(0 0 0 / 10%);
    cursor: pointer;
    transition: all .3s;
}

.addAlert button:hover {
    transform: scale(1.1);
}

.addAlert button.subOk {
    background-color: #b5f291;
    color: #fff;
}